## SPACE 101.1 FM Web Streaming Metrics
This is an examination of 3 months of web streaming data for an LPFM radio station in Seattle, WA. The data is from 3 months: February through April 2021.

In [1]:
# Load relevant libraries and packages
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

# Increase column width to display df
pd.set_option('display.max_columns', None)

# Increases the size of sns plots
sns.set(rc={'figure.figsize':(12,10)})

In [2]:
# Import files
raw_april_listeners = pd.read_csv('2021-April-historical_listeners.csv')
raw_april_minutes = pd.read_csv('2021-April-historical_minutes.csv')

# print the shape
print("April listeners:", raw_april_listeners.shape)
print("April minutes:", raw_april_minutes.shape)

April listeners: (720, 2)
April minutes: (720, 2)

In [6]:
raw_april_listeners.tail(10)

                    Date  Total
710  2021-04-30 21:00:00     19
711  2021-04-30 22:00:00     15
712  2021-04-30 23:00:00     15
713  2021-05-01 00:00:00     13
714  2021-05-01 01:00:00     10
715  2021-05-01 02:00:00     13
716  2021-05-01 03:00:00     15
717  2021-05-01 04:00:00     15
718  2021-05-01 05:00:00     22
719  2021-05-01 06:00:00     19

In [9]:
raw_april_listeners.describe()

            Total
count  720.000000
mean    16.358333
std      6.893139
min      2.000000
25%     11.000000
50%     16.000000
75%     21.000000
max     54.000000

In [7]:
raw_april_minutes.head()

                  Date  Total
0  2021-04-01 07:00:00    395
1  2021-04-01 08:00:00    343
2  2021-04-01 09:00:00    360
3  2021-04-01 10:00:00    360
4  2021-04-01 11:00:00    337

In [8]:
raw_april_minutes.describe()

             Total
count   720.000000
mean    427.161111
std     237.868395
min       0.000000
25%     242.000000
50%     379.500000
75%     555.000000
max    1382.000000